$breakpoint-md: 960px;

$pink: #9a5b8d;
$pink-bg: #fef4fc;
$pink-highlight: #ef36a0;

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: $pink-bg;
	color: $pink;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-weight: 400;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.25;
	color: $pink-highlight;

	@media screen and (min-width: $breakpoint-md) {
		font-size: 4rem;
	}
}

a {
	text-decoration: none;
}

small, .small {
	font-size: smaller;
}

ul {
	margin: 0;
	padding: 0;
}





#app {
	min-height: 100vh;
	margin: 0
}

.header {
	position: absolute;
	top: 0;
	left: 0;
}

.btn {
	font-family: inherit;
	display: inline-block;
	color: $pink-bg;
	border: 1px solid darken($pink-highlight, 10%);
	border-radius: 3px;
	background-image: linear-gradient(to bottom, lighten($pink-highlight, 5%), darken($pink-highlight, 5%));

	&:hover {
		background-image: linear-gradient(to bottom, $pink-highlight, darken($pink-highlight, 10%));
		border: 1px solid darken($pink-highlight, 20%);
	}
	&:active { background-image: linear-gradient(to bottom, darken($pink-highlight, 10%), $pink-highlight) }
	&:focus { outline: none }
}

.btn-primary {
	font-size: 1rem;
	padding: .5em 1.5em;
	border-radius: 100px;
}

.btn-alt {
	border-bottom: 1px solid;
	border-color: rgba($pink-highlight, .125);
	color: $pink-highlight;
	transition: border-color .125s ease-in-out;

	&:hover,
	&:active {
		border-color: rgba($pink-highlight, .5);
	}
}

.header {
	display: block;
	width: 100%;
	float: left;
}

.hero {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 60vh;
	overflow: hidden;
}

.list {
	max-width: 480px;
	margin: 0 auto;
}

.list-item {
	padding: .5rem .5rem .5rem .5rem;
	line-height: 1;
	margin-right:  .25rem;
	margin-bottom: .25rem;
	font-size: .875rem;
}

.list-item__icon {
	width:  .5rem;
	height: .5rem;
	margin-top:  .1875rem;
	margin-left: .25rem;
	fill: white;
}

.list-input {
	display: block;
	padding: .75rem 1rem;
	font-size: 1rem;
	width: 100%;
	margin-bottom: .25rem;
	color: $pink;
	border: 1px solid rgba($pink, .25 );
	border-radius: .125rem;

	&::placeholder {
		color: rgba($pink, .5);
	}

	&:focus {
		outline-offset: .125rem;
		outline: $pink-highlight auto .3125rem;
	}
}

.container { width: 100% }

.left  { float: left }
.right { float: right }

.pt2 { padding-top: 2rem }
.px2 { padding-right: 2rem; padding-left: 2rem }

.mb1 { margin-bottom: 1rem }
.mb2 { margin-bottom: 2rem }

.disabled { color: rgba($pink, .2) }

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes tada {
	from { transform: scale3d(1, 1, 1) }

	10%, 20% {
		color: #00bd8e;
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}

	30%, 50%, 70%, 90% {
		transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, 3deg);
	}

	40%, 60%, 80% {
		color: blue;
		transform: scale3d(2, 2, 2) rotate3d(0, 0, 1, -3deg);
	}

	to {
		transform: scale3d(1, 1, 1);
		color: #ff338e;
	}
}

.tada {
	animation-name: tada;
}
